/* KennelPage */

.kennel-page {
  padding: 20px;
  padding-top: 70px;
}

.kennel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.kennel-header h2 {
  font-size: 24px;
  color: #fff;
}

.kennel-list {
  list-style: none;
  padding: 0;
}

.kennel-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.kennel-item:hover {
  transform: scale(1.05);
}

.kennel-image {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.kennel-details {
  flex: 1;
}

.kennel-name {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.kennel-description {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.explore-link {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.explore-link:hover {
  background-color: #0056b3;
}


/* Hide the scroll bar */
.kennel-cards::-webkit-scrollbar {
  width: 0.5em;
}

.kennel-cards::-webkit-scrollbar-track {
  background: transparent;
}

.kennel-cards::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
}

/* LoginPage */
.login-box {
  background-color: rgba(245, 245, 245, 0.8); /* Semi-transparent light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h1 {
  color: #333; /* Dark text color */
}

.login-box form {
  margin-top: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
}

.login-box button {
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.login-box p {
  margin-top: 10px;
  color: #333; /* Dark text color */
}

/* SignUpPage */
.signUp-page {
  margin-top: 90px;
}

.signUp-box {
  background-color: rgba(245, 245, 245, 0.8); /* Semi-transparent light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signUp-box h1 {
  color: #333; /* Dark text color */
}

.signUp-box form {
  margin-top: 20px;
}

.signUp-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.signUp-box input[type="email"],
.signUp-box input[type="password"],
.signUp-box input[type="text"] {
  width: 90%; /* Reduced width */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
}

.signUp-box button {
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.signUp-box button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.signUp-box p {
  margin-top: 10px;
  color: #333; /* Dark text color */
}

/* DogPage */
.dog-page {
  padding: 20px;
  margin-top: 40px;
}

.dog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-dog-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4caf50; /* Green background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.add-dog-link:hover {
  background-color: #45a049; /* Darker green on hover */
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dog-card {
  background-color: #fff; /* White background color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  transition: transform 0.2s;
}

.dog-card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.dog-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.edit-button {
  background-color: #2196f3; /* Blue background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.edit-button:hover {
  background-color: #0b7dda; 
}

/* EditDogPage */
.edit-dog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.edit-dog-heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.edit-dog-form-container {
  width: 1090%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.btn-primary,
.btn-danger {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* AddDog */
.add-dog-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-dog-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.add-dog-form {
  display: flex;
  flex-direction: column;
}

.add-dog-label {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.add-dog-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-dog-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-dog-button:hover {
  background-color: #0056b3;
}


/* ProfilePage */
.profile-container {
  padding: 20px;
  background-color: #ffdb58;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 400px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-title {
  font-size: 36px;
  margin: 0;
  color: #333;
}

.profile-subtitle {
  font-size: 18px;
  margin: 0;
  color: #555;
}

.profile-info {
  text-align: left;
}

.profile-item {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}