/* KennelPage */
.kennel-page {
  padding: 20px;
  padding-top: 100px;
}

/* .kennel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
} */

/* .kennel-header h2 {
  font-size: 24px;
  color: #fff;
} */

.kennels-image {
  margin-bottom: 50px;
  margin-top: -20px;
}

.dog-image {
  width: 100vw;
  opacity: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
}

.button-add-kennel {
  margin-bottom: 50px;
}

/* .kennel-title {
  font-size: 50px;
  text-align: start;
  color: black;
} */

.kennel-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kennel-item {
  background-color: rgb(208, 169, 116);
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.kennel-item:hover {
  transform: scale(1.05);
}

.kennel-image {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.kennel-details {
  flex: 1;
}

.kennel-name {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

.kennel-description {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}

.kennel-location {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.find-dog {
  background-color: #5c3b1a;
  color: #fff;
  margin-left: 130px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  justify-content: end;
}

.find-dog:hover {
  background-color: #7a5634;
}

/* Add Kennel Form */
form {
  color: black;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #5c3b1a;
  border-radius: 5px;
  margin-top: 20px;
  color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.add-kennel {
  color: #000;
  text-align: center;
}

.create-kennel-button {
  margin-left: 10px;
}

.create-kennel-button:hover {
  background-color: #7a5634;
  color: white;
}

/* Add a Dog*/
.create-new-dog {
  color: black;
  text-align: center;
  margin-top: 60px;
}

.create-dog-button:hover {
  background-color: #7a5634;
  color: white;
}

/* LoginPage */
.background-video-login {
  margin-top: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-page {
  margin-top: 10px;
}

.login-box {
  /*   background-color: rgba(
    245,
    245,
    245,
    0.8
  ); /* Semi-transparent light gray background */
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  text-align: center;
}

.login-form {
  margin-left: -20px;
}

.login-box h1 {
  color: #333; /* Dark text color */
  margin-left: -20px;
}

.login-box form {
  margin-top: 20px;
  color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* .login-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
} */

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
}

/* .login-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
} */

.login-box button:hover {
  background-color: #7a5634;
  color: white;
}

/* .login-box p {
  margin-top: 10px;
  color: #333;
} */

.dont-account {
  margin-left: -20px;
}

/* SignUpPage */
.background-video-signup {
  margin-top: -20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.signUp-page {
  margin-top: 100px;
}

.signUp-box {
  /*   background-color: rgba(
    245,
    245,
    245,
    0.8
  ); */ /* Semi-transparent light gray background */
  margin-left: -22px;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  text-align: center;
}

.signUp-box h1 {
  color: #333; /* Dark text color */
  margin-left: -22px;
}

.signUp-box form {
  margin-top: 20px;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signUp-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.signUp-box input[type="email"],
.signUp-box input[type="password"],
.signUp-box input[type="text"] {
  width: 90%; /* Reduced width */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
}

/* .signUp-box button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
} */

.signUp-box button:hover {
  background-color: #7a5634;
  color: white;
}

.signUp-box p {
  margin-top: 10px;
  color: #333;
}

.user-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
