/* HomePage */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #474747;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  z-index: 1000;
  width: 100%;
  height: 60px;
}

.navbar button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 30px;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar button:hover {
  text-decoration: underline;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-right p {
  margin-right: 40px;
}

/* Carousel styles */
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 70px;
  object-fit: cover;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.589);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 20px;
}

.carousel-button.right {
  right: 20px;
}

/* Additional Content Styles */
.additional-content {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.additional-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.additional-content p {
  font-size: 16px;
  line-height: 1.5;
}

/* Services Section Styles */
.services-section {
  background-color: #f7f7f7;
  padding: 40px 0;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.service-circles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.service-circle {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  animation: scaleUp 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.service-circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.service-circle p {
  font-size: 18px;
  color: #555;
}

.service-circle:hover {
  transform: scale(1.05);
}

/* Volunteer Section Styles */
.Volunteer {
  background-color: #3498db;
  color: #333;
  padding: 40px;
  text-align: center;
}

.Volunteer img {
  padding-top: 20px;
  max-width: 500px;
  max-height: 700px;
}

.Volunteer p {
  font-size: 24px;
  margin-top: 20px;
}

.Volunteer button {
  background-color: #fff;
  color: #3498db;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Volunteer button:hover {
  background-color: #2969b0;
  color: #fff;
}
/* Apply a basic style to the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input[type="text"],
input[type="email"],
textarea,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style for the close button */
button[type="button"] {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Add some spacing between the buttons */
button[type="submit"],
button[type="button"] {
  margin-right: 10px;
}

/* Style the select dropdown */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
}

/* Style the disabled option */
option:disabled {
  color: #888888;
}
